# Dataframes in Pandas

**Creating DataFrames**

In [ ]:
import pandas as pd

In [ ]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 42],
    'City': ['New York', 'Paris', 'Berlin', 'London'],
    'Salary': [65000, 70000, 62000, 85000]
}
df = pd.DataFrame(data)
df

In [ ]:
data_list = [
    ['John', 28, 'New York', 65000],
    ['Anna', 34, 'Paris', 70000],
    ['Peter', 29, 'Berlin', 62000],
    ['Linda', 42, 'London', 85000]
]
df2 = pd.DataFrame(data_list)
columns = ["Name","Age","City","Salary"]
df2 = pd.DataFrame(data_list,columns=columns)
df2

**Selection and Indexing of Columns**

In [ ]:
df2["Name"]   # select one column

In [ ]:
df2[["Name","City"]]   # select multiple columns

**Creating a new Column**

In [ ]:
df2["work_experience"] = [2,5,6,7]
df2

**Remove a column**

In [ ]:
df2.drop("work_experience",axis=1, inplace=True)

In [ ]:
df2.drop(["Name","City"], axis=1)   # remove multiple columns

**Selecting Rows**

In [ ]:
df2.loc[3]

In [ ]:
df2.loc[[1,2,3]]

**Selecting a Portion**

In [ ]:
df2.loc[[0,1]][["Name","Salary"]]

In [ ]:
df2.loc[[2,3]][["Name","Age"]]

**Remove Rows**

In [ ]:
df2.drop(0, axis=0)

In [ ]:
df2.drop([1,2], axis=0)

**Conditional Selection**

In [ ]:
df2[df2["Age"]>30]

In [ ]:
df2[(df2["Age"]>30) & (df2["City"]=="Paris")]

In [ ]:
df2[(df2["Name"]=="Anna") | (df["Age"]>40)]